.is-layout-constrained > :first-child.hero-t2-pattern{
    margin-top: 70px;
    @media screen and (max-width: 781px) {
        margin-block-start: 50px;
    }

    .wp-block-query-title,
    .wp-block-post-title,
    h1.wp-block-heading{
        color: var(--wp--preset--color--syncro-black);
        margin-block-start: 30px;
        @media screen and (max-width: 781px) {
            margin-block-start: 20px;
        }
    }
    .wp-block-image{
        margin-block-start: 30px;
        @media screen and (max-width: 781px) {
            margin-block-start: 20px;
        }
    }
    .wp-block-term-description,
    h3.wp-block-heading{
        margin-block-start: 50px;
        @media screen and (max-width: 781px) {
            margin-block-start: 30px;
        }
    }
    & + .wp-block-group{
        margin-block-start: 70px;
        @media screen and (max-width: 781px) {
            margin-block-start: 80px;
        }
    }
}
.hero-t6-pattern{
    padding-top: 240px;
    .wp-block-cover__inner-container{
        width: 100% !important;
        max-width: 1280px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    @media screen and (max-width: 781px ) {
        padding-top: 84px;
        min-height: 430px !important;
        padding-bottom: 50px !important;
    }
    #home-hero-word-rotator{
        font-size: 1vw;
        gap: 1em;
        h1{
            font-size: 5vw;
        }
        #animated-word-container{
            position: relative;
            height: calc( 5vw * 1.2 );
            overflow: hidden;
            > .wp-block-heading{
                animation: spin_six_words 8s infinite;
                margin-top: 0;
                margin-block-start: 0;
                animation-delay: 2s;
            }
        }
        @media (min-width: 1475px) {
            h1{
                font-size: 73px;
                letter-spacing: -2px;
            }
            #animated-word-container{
                height: calc( 73px * 1.2 );
            }
        }
        @media (min-width: 981px) and (max-width: 1050px) {
            h1{
                font-size: 4.8vw;
            }
            #animated-word-container{
                height: calc( 4.8vw * 1.2 );
            }
        }
        @media (min-width: 782px) and (max-width: 980px) {
            h1{
                font-size: 6vw;
            }
            #animated-word-container{
                height: calc( 6vw * 1.2 );
            }
        }
        @media (min-width: 335px) and (max-width: 781px) {
            h1{
                font-size: 7vw;
            }
            #animated-word-container{
                height: calc( 7vw * 1.2 );
            }
        }
        @media (max-width: 334px) {
            h1{
                font-size: 6.9vw;
            }
            #animated-word-container{
                height: calc( 7vw * 1.2 );
            }
        }
    }
}

// Six words, 16% per word.
@keyframes spin_six_words{
    //1
    0%{
        transform: translateY(0);
    }
    //2
    12%{
        transform: translateY(-112%);
    }
    17%{
        transform: translateY(-100%);
    }
    //3
    29%{
        transform: translateY(-212%);
    }
    34%{
        transform: translateY(-200%);
    }
    //4
    46%{
        transform: translateY(-312%);
    }
    51%{
        transform: translateY(-300%);
    }
    //5
    63%{
        transform: translateY(-412%);
    }
    68%{
        transform: translateY(-400%);
    }
    //6
    78%{
        transform: translateY(-512%);
    }
    85%{
        transform: translateY(-500%);
    }
    // 7 (Duplicate of 1)
    95%{
        transform: translateY(-612%);
    }
    100%{
        transform: translateY(-600%);
    }
}

.hero-t8-pattern{
    @media screen and (max-width: 781px ) {
        padding-top: 84px;
        padding-bottom: 50px !important;
        .wp-block-cover__inner-container > .wp-block-columns{
            gap: 0;
        }
        &.has-mobile-no-min-height{
            min-height: 0 !important;
        }
    }
}
.hero-t3-pattern,
.hero-t9-pattern{
    @media screen and (max-width: 781px ) {
        & + .wp-block-columns{
            margin-block-start: 0;
        }
    }
}