.is-style-standard-card{
    .wp-block-post > .wp-block-group{
        border-bottom-color: #E6E4E3;
        border-bottom-width: 1px;
        border-left-color: #E6E4E3;
        border-left-width: 1px;
        padding: 50px 40px;
    }
    .wp-block-post:not(:first-child){
        margin-block-start: 0;
    }
    .wp-block-post-featured-image img{
        border-radius: 20px;
    }
    .wp-block-post-title a{
        text-decoration: none;
        transition: var(--wp--custom--transition--button);
    }
    .wp-block-post-title:hover a{
        transition: var(--wp--custom--transition--button);
        text-decoration: underline;
        color: var(--wp--preset--color--syncro-black);
    }
    @media (max-width: 781px){
        .wp-block-post > .wp-block-group{
            border-bottom-color: #E6E4E3;
            border-bottom-width: 1px;
            border-left: none;
            padding: 30px 0;
            > .wp-block-columns{
                gap: 0;
            }
        }
        .wp-block-post-featured-image{
            display: none;
        }
    }
}
.is-style-integration-card{
    li.wp-block-post{
        position: relative;
        @media (max-width: 781px){
            margin-block-start: 20px;
        }
        > .wp-block-group{
            padding: 30px;
        }
        .wp-block-columns{
            gap: 30px;
        }
        @media (max-width: 1200px) {
            .wp-block-columns{
                flex-direction: column;
            }
            .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
                flex-basis: 100% !important;
                flex-grow: 1;
            }
        }
        @media (min-width: 1201px) {
            .wp-block-columns:nth-child(2){
                flex-basis: 454px;
            }
            .taxonomy-integration_types{
                text-align: right;
            }
        }
    }
    .wp-block-syncro-integration-icon{
        margin-top: 0;
    }
    .wp-block-syncro-integration-title{
        color: var(--wp--preset--color--syncro-black);
    }

}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}