.page-template-transparent-header{
    header.desktop-header-template-part + .wp-block-group {
        margin-top: -64px;
    }
    @media screen and (min-width: 1355px) {
        header.desktop-header-template-part + .wp-block-group {
            margin-top: -168px;
        }
    }
}
.page-template-cream-3-background{
    background-color: var(--wp--preset--color--cream-3);
}