/* Updated 10/8/24 */
/* Web Fonts */
@font-face {
    font-family: 'Graphik Web';
    src: url('fonts/Graphik-MediumItalic-Web.woff2') format('woff2'),
         url('fonts/Graphik-MediumItalic-Web.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    }

@font-face {
    font-family: 'Graphik Web';
    src: url('fonts/Graphik-Medium-Web.woff2') format('woff2'),
         url('fonts/Graphik-Medium-Web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    }

@font-face {
    font-family: 'Graphik Web';
    src: url('fonts/Graphik-RegularItalic-Web.woff2') format('woff2'),
         url('fonts/Graphik-RegularItalic-Web.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    }

@font-face {
    font-family: 'Graphik Web';
    src: url('fonts/Graphik-Regular-Web.woff2') format('woff2'),
         url('fonts/Graphik-Regular-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

/* variables */
:root{
    --syncro-black: #1D1D1C;
    --cream: #FFFCF8;
    --wp--preset--font-size--small: clamp(0.875rem, 0.875rem +((1vw - 0.2rem)* 0.185), 1rem);
    --wp--preset--font-size--medium: clamp(1rem, 1rem +((1vw - 0.2rem)* 0.185), 1.125rem);
    --wp--preset--font-size--large: clamp(1.125rem, 1.125rem +((1vw - 0.2rem)* 0.37), 1.375rem);
    --wp--preset--font-size--x-large: clamp(1.5rem, 1.5rem +((1vw - 0.2rem)* 0.37), 1.75rem);
    --wp--preset--font-size--meta-data-labels: 0.688rem;
    --wp--preset--font-size--x-small: clamp(0.75rem, 0.75rem +((1vw - 0.2rem)* 0.185), 0.875rem);
    --font-size--heading-3: clamp(1.5rem, 1.188rem + 1vi, 1.813rem);
    --wp--preset--font-family--graphik-web: "Graphik Web", Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

/* Form Body */
iframe {
    scroll-behavior: unset;
    overflow: hidden;
}

html body {
    margin: 0;
    font-size: var(--wp--preset--font-size--medium) !important;
    font-family: var(--wp--preset--font-family--graphik-web) !important;
}

#form-content {
    width: 99.5%;
    min-width: 300px;
    max-width: 700px;
    padding-right: 2px;
    margin: 0 auto;
}

html #form-content form {
    font-size: var(--wp--preset--font-size--medium) !important;
    font-family: var(--wp--preset--font-family--graphik-web) !important;
    padding: 0;
}
@media screen and (min-width: 782px) {
  #form-content form{
      margin-top: 0;
  }  
}

#form-content a {
    color: var(--syncro-black);
    text-decoration: underline;
}

#form-content .content {
    color: #131E29;
    font-size: var(--wp--preset--font-size--medium) !important;
    font-family: var(--wp--preset--font-family--graphik-web) !important;
}

#form-content .content.ty {
    padding-left: 10px;
}

#form-content .content p {
    font-weight: 400;
}

#form-content .content h1,#form-content .content h2,#form-content .content h3,#form-content .content h4 {
    color: var(--syncro-black);
}
#form-content .content h2{
    color: var(--syncro-black);
    /* Desktop/Heading 3 */
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 37.7px */
    letter-spacing: -0.58px;
    margin-top: 0;
}
@media only screen and (max-width: 781px) {
    font-size: 24px;
}
#form-content .content h3{
    color: var(--Foreground-100, #272E2D);
    font-size: var(--wp--preset--font-size--large) !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; /* 30.8px */
    letter-spacing: -0.352px;
}

#form-content #syn-acknowledgement {
    padding-top: 25px;
    font-size: 14px;
    color: var(--syncro-black);
}
/*End Body*/

/* Responsive Sections */
@media only screen and (min-width: 555px) {
    .field-wrapper.left50 {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        margin-right: 1.1%;
    }

    .field-wrapper.right50 {
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }
}

@media only screen and (max-width: 396px) {
    #terms-of-use {
        margin-bottom: 60px;
    }
}
/* End Responsive Sections */

/* Labels */
#form-content form.form p label {
    padding: 0 20px 3px 3px;
    text-align: left;
    width: fit-content;
    display: none;
    font-weight: 400;
    color: var(--syncro-black);
    background: none !important;
}

#form-content form.form p.required label::after {
    content: "";
    padding-left: 5px;
    color: red;
    display: none;
}
#form-content form.form.show-labels p label,
#form-content form.form.show-labels p.required label::after,
#form-content form p#terms-of-use label {
  display: block;
}
/*End Lables*/

/* Inputs */
form.form input.text, form.form input.date, form.form select.select, form.form textarea.standard {
    border-radius: 4px;
    border: 1px solid var(--Foreground-60, #7E7C79);
    background: #FFF;
    padding: 20px;
    color:var(--syncro-black);
    font-size: var(--wp--preset--font-size--small);
}

form.form input.text, form.form input.date, form.form textarea.standard {
    width: 100%!important;
    box-sizing: border-box;
}

form.form select.select {
    width: 100%!important;
    height: 60.5px;
}

#form-content form.form span.value {
    margin: 0;
}

form.form .field-wrapper{
    margin-block-start: 20px
}

form.form .field-wrapper p{
    margin: 0;
    padding: 0;
}

form.form p.no-label {
    margin: 0 .5em .6em 0!important;
}

form p.error.no-label {
    margin-left: 10px !important;
}

form input::placeholder {
    color:#7E7C79;
}
form.show-labels input::placeholder{
  color: transparent;
}

form input:focus-visible{
    outline-color: var(--Primary, #FB6B31);
}

#terms-of-use label {
    margin-bottom: 20px;
}

#insertedPhoneField {
    padding-left: 50px;
}
/* End Inputs */

/* Captcha */
form div.g-recaptcha {
    display: block;
    margin: 30px 0 0 6px;
    width: 100% !important;
    min-width: 50px !important;
    max-width: 304px !important;
}

form div.g-recaptcha div {
    width: inherit;
}
/* End Captcha */

/* Not You? */
p.email span.description {
    margin-left: 6px !important;
    font-weight: bold;
    color: var(--syncro-black);
    padding: 6px 0 10px !important;
    font-size: 14.5px;
}
/* End Not You? */

/* Submit Button */
form.form p.submit input{
    padding: 20px 24px!important;	
    cursor: pointer;
    color: var(--cream) !important;
    border-radius: 200px;
    font-size: 14px;
    font-weight: 500!important;
    background-color: var(--syncro-black);
    margin: 0 !important;
    border: 1px solid var(--syncro-black);
    transition: background-color 250ms, border 250ms;
    -webkit-appearance: none;
    width: 100%;
} 

form.form p.submit input:hover{
    background-color: var(--cream);
    color: var(--syncro-black) !important;
}

form.form p.submit {
    margin: 20px 0 0 !important;
    width: 100%;
}
/* End Submit Button */

/* Errors */
#form-content form.form p.errors {
    background: #CC001F;
    padding: 3px 7px;
    border-radius: 2px;
    width: fit-content;
}

#form-content form.form p.error.no-label {
    color: #CC001F;
}
/* End Errors */

/* Loading Animation */
.lds-ellipsis {display: inline-block;position: relative;left:0;width: 80px;height: 80px;} 
.lds-ellipsis div {position: absolute;top: 33px;width: 13px;height: 13px;border-radius: 50%;background: #440099;animation-timing-function: cubic-bezier(0, 1, 1, 0);} 
.lds-ellipsis div:nth-child(1) {left: 8px;animation: lds-ellipsis1 0.6s infinite;} .lds-ellipsis div:nth-child(2) {left: 8px;animation: lds-ellipsis2 0.6s infinite;} .lds-ellipsis div:nth-child(3) {left: 32px;animation: lds-ellipsis2 0.6s infinite;} .lds-ellipsis div:nth-child(4) {left: 56px;animation: lds-ellipsis3 0.6s infinite;} @keyframes lds-ellipsis1 { 0% {transform: scale(0);} 100% {transform: scale(1);}} @keyframes lds-ellipsis3 { 0% {transform: scale(1);} 100% {transform: scale(0);}} @keyframes lds-ellipsis2 { 0% {transform: translate(0, 0);} 100% {transform: translate(24px, 0);}}
/* End Loading Animation */