footer.wp-block-template-part{
    margin-top: 0;
    p > a {
        text-decoration: none;
        text-decoration-color: transparent;
        transition: var(--wp--custom--transition--button);
        &:hover{
            text-decoration: underline;
            text-decoration-color: currentColor;
            transition: var(--wp--custom--transition--button);
        }
    }
    #footer-logo{
        max-width: 190px;
    }
}