.global-nav-main-menu-pill.wp-block-navigation .wp-block-navigation__container.global-nav-main-menu-pill{
    background-color: var(--wp--preset--color--cream-2);
    padding: 0 30px;
    border-radius: 200px;
    .wp-block-outermost-mega-menu__toggle,
    .wp-block-navigation-item__content{
        font-size: 15px;
        font-weight: 500;
        padding: 10px 0;
    }
    .wp-block-outermost-mega-menu__toggle-icon{
        display: none;;
    }
}
header.wp-block-template-part{
    top: -80px;
    position: sticky;
    z-index: 11;
    &.is-pinned{
        background-color: var(--wp--preset--color--base);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        #utility-nav-row{
            //height: 0;
            //padding: 0 !important;
        }
        #primary-nav-row{
            padding-bottom: 15px;
        }
    }
    &.utility-hidden{
        #utility-nav-row{
            visibility: hidden;
        }
    }
    #utility-nav-row{
        //height: 80px;
        //transition: height 0.2s ease-in-out;
        //transition-delay: 0.1s;
    }
    #primary-nav-row{
        margin-top: 0;
        padding-top: 15px;
        padding-bottom: 30px;
        transition: padding-bottom 0.3s ease-in-out;
    }
    .wp-block-search.wp-block-search__button-only .wp-block-search__button{
        padding: 14px;
        background-color: transparent;
    }
    svg.search-icon{
        width: 30px;
        height: 30px;
        color: var(--wp--preset--color--cream-4);
        transform: rotateY(180deg);
    }
    .wp-block-search__input{
        border-radius: 100px;
        border: 1px solid var(--wp--preset--color--syncro-black, #8E8E8D);
        background: var(--wp--preset--color--base, #FFFCF8);
        outline: none;
        padding-left: 20px;
        padding-right: 58px;
        transform: translateX(58px);
        //flex-basis: 100%;
        font-size: var(--wp--preset--font-size--small);
        width: 256px;
    }
}
// Mega Menu Specific Styles
.wp-block-outermost-mega-menu__menu-container {
    background-color: var(--wp--preset--color--base);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 70px;
}

//Mega Menu Template Area Styles
.mega-title-card{
    padding: 20px;
    h2 + p{
        margin-top: 10px;
    }
    p + .wp-block-buttons{
        margin-top: 20px;
    }
    .wp-block-button__link{
        background-color: rgba(255, 255, 255, 0.20);
        gap: 4px;
        &:hover{
            background-color: rgba(255, 255, 255, 0.15) !important;
            color: var(--wp--preset--color--base) !important;
            gap: 8px;
            text-decoration: none !important;
        }
    }
    + * {
        margin-top: 30px;
        @media (max-width: 781px) {
            margin: 50px;
        }
    }
}
.wp-block-outermost-mega-menu__menu-container{
    @media (min-width: 782px) {
        > .wp-block-group > .wp-block-columns{
            padding: 0 20px;
        }
        .wp-block-separator{
            max-width: 100px;
            margin-left: 0 !important;
        }
    }
    .wp-block-separator + h3.wp-block-heading{
        margin-top: 10px
    }
    h3.wp-block-heading + p {
        margin-top: 12px;
    }
    p + .wp-block-buttons{
        margin-top: 16px;
    }
    .wp-block-column > .wp-block-group + .wp-block-group{
        margin-top: 30px;
    }
    .wp-block-column > .wp-block-group.is-layout-grid{
        row-gap: 30px;
    }
    h3.wp-block-heading.has-background{
        border-radius: 16px;
    }

}