.wp-site-blocks{
    container-type: inline-size;
}
@container (max-width: 1354px ){
    header.mobile-header-template-part{
        display: block;
        position: sticky;
        z-index: 11;
        &.is-pinned{
            top: -1px;
            .cdc-mobile-menut-template-part__menu-container{
                top: -1px;
            }
        }
    }
    header.desktop-header-template-part{
        display: none;
    }
}
@container (min-width: 1355px ){
    header.mobile-header-template-part{
        display: none;
    }
    header.desktop-header-template-part{
        display: block;
        margin-top: 0;
    }
}

.global-nav-main-menu-pill.wp-block-navigation .wp-block-navigation__container.global-nav-main-menu-pill{
    background-color: var(--wp--preset--color--cream-2);
    padding: 0 30px;
    border-radius: 200px;
    .wp-block-outermost-mega-menu__toggle,
    .wp-block-navigation-item__content{
        font-size: 15px;
        font-weight: 500;
        padding: 10px 0;
    }
}
header.desktop-header-template-part.mega-menu-open{
    .global-nav-main-menu-pill.wp-block-navigation .wp-block-navigation__container.global-nav-main-menu-pill{
        background-color: var(--wp--preset--color--base);
    } 
}
// Desktop Header Styles
header.desktop-header-template-part{
    top: -80px;
    position: sticky;
    z-index: 11;
    transition: background-color 0.2s ease-in-out;
    &.is-pinned{
        background-color: var(--wp--preset--color--base);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: background-color 0.2s ease-in-out;
        #utility-nav-row{
            //height: 0;
            //padding: 0 !important;
        }
        #primary-nav-row{
            padding-bottom: 15px;
        }
    }
    &.utility-hidden{
        #utility-nav-row{
            visibility: hidden;
        }
    }
    #primary-nav-row{
        margin-top: 0;
        padding-top: 15px;
        padding-bottom: 30px;
        transition: padding-bottom 0.3s ease-in-out;
    }
    .wp-block-search.wp-block-search__button-only .wp-block-search__button{
        padding: 14px;
        background-color: transparent;
    }
    svg.search-icon{
        width: 30px;
        height: 30px;
        color: var(--wp--preset--color--cream-4);
        transform: rotateY(180deg);
    }
    .wp-block-search__input{
        border-radius: 100px;
        border: 1px solid #8E8E8D;
        background: var(--wp--preset--color--base, #FFFCF8);
        outline: none;
        padding-left: 20px;
        padding-right: 58px;
        transform: translateX(58px);
        //flex-basis: 100%;
        font-size: var(--wp--preset--font-size--small);
        width: 256px;
    }
    .wp-block-outermost-mega-menu:hover{
        color: #8E8E8D;
    }
    .wp-block-navigation-item.wp-block-navigation-link{
        &:hover{
            text-decoration: underline;;
        }
        &.current-menu-item{
            color: var(--wp--preset--color--tertiary);
        }

    }
    .wp-block-outermost-mega-menu__toggle-icon-mobile-plus, 
    .wp-block-outermost-mega-menu__toggle-icon-mobile-minus{
        display: none;;
    }
}
// Mega Menu Specific Styles
.wp-block-outermost-mega-menu__menu-container {
    background-color: var(--wp--preset--color--base);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 70px;
}

//Mega Menu Template Area Styles
.mega-title-card{
    padding: 20px;
    h2 + p{
        margin-top: 10px;
    }
    p + .wp-block-buttons{
        margin-top: 20px;
    }
    .wp-block-button__link{
        background-color: rgba(255, 255, 255, 0.20);
        gap: 4px;
        &:hover{
            background-color: rgba(255, 255, 255, 0.15) !important;
            color: var(--wp--preset--color--base) !important;
            gap: 8px;
            text-decoration: none !important;
        }
    }
    + * {
        margin-top: 30px;
        @media (max-width: 781px) {
            margin: 50px;
        }
    }
}
.wp-block-outermost-mega-menu__menu-container{
    @media (min-width: 782px) {
        > .wp-block-group > .wp-block-columns{
            padding: 0 20px;
        }
        .wp-block-separator{
            max-width: 100px;
            margin-left: 0 !important;
        }
    }
    .wp-block-separator + h3.wp-block-heading{
        margin-top: 10px
    }
    h3.wp-block-heading + p {
        margin-top: 12px;
    }
    p + .wp-block-buttons{
        margin-top: 16px;
    }
    .wp-block-column > .wp-block-group + .wp-block-group{
        margin-top: 30px;
    }
    .wp-block-column > .wp-block-group.is-layout-grid{
        row-gap: 30px;
    }
    h3.wp-block-heading.has-background{
        border-radius: 16px;
    }
}

// Mobile Header Area Styles
header.mobile-header-template-part{
    &.is-pinned{
        background-color: var(--wp--preset--color--base);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .cdc-mobile-menut-template-part__menu-container{
        background-color: var(--wp--preset--color--base);
        padding-left: var(--wp--style--root--padding-left);
        padding-right: var(--wp--style--root--padding-right);
        .menu-container__close-button{
            position: absolute;
            top: 14px;
            right: 0;
        }
    }
    .wp-block-navigation{
        .wp-block-navigation__container{
            width: 100%;
            gap: 30px;
            .wp-block-navigation-item__content{
                height: 30px;
            }
            > .wp-block-navigation-link{
                width: 100%;
                > .wp-block-navigation-item__content{
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                }
            }
        }
        .wp-block-outermost-mega-menu{
            width: 100%;
            position: relative;
            .wp-block-outermost-mega-menu__toggle{
                width: 100%;
                display: flex;
                justify-content: space-between;
                height: 30px;
                .wp-block-outermost-mega-menu__toggle-icon,
                .wp-block-outermost-mega-menu__toggle-icon-mobile-minus{
                    display: none;
                }
                &[aria-expanded=true] {
                    .wp-block-outermost-mega-menu__toggle-icon-mobile-plus{
                        display: none;
                    }
                    .wp-block-outermost-mega-menu__toggle-icon-mobile-minus{
                        display: block;
                    }
                    ~ .wp-block-outermost-mega-menu__menu-container{
                        height: auto;
                        padding-top: 30px;
                    }
                }
            }
            .wp-block-outermost-mega-menu__menu-container{
                position: relative;
                height: 0;
                left: calc( var(--wp--style--root--padding-left) * -1 ) !important;
                padding: 0;
                box-shadow: none;
            }
        }
    }
    .wp-block-search{
        margin-top: 30px;
    }
    
}
// Transparent Headers
.page-template-transparent-header{
    .wp-block-template-part:not(.is-pinned):not(.mega-menu-open){
        .wp-block-site-logo{
            filter: brightness(0) saturate(100%) invert(100%) sepia(46%) saturate(0%) hue-rotate(111deg) brightness(108%) contrast(98%);
        }
        &.desktop-header-template-part .wp-block-search__button[aria-expanded="false"] svg.search-icon{
            color: var(--wp--preset--color--base);
        } 
        .wp-block-cdc-mobile-menu-template-part button svg:not(.search-icon){
            fill: var(--wp--preset--color--base);
        }
        .wp-block-search__input{
            background-color: var(--wp--preset--color--cream-2);
        }
        &.desktop-header-template-part .wp-block-button__link.has-base-color.has-support-2-background-color{
            background-color: transparent !important;
            padding: 13px 24px !important;
            border: 1px solid var(--wp--preset--color--base);
        }
        &.mobile-header-template-part .wp-block-button__link.has-support-2-background-color{
            background-color: var(--wp--preset--color--syncro-black) !important;
        }
    }
    .wp-block-template-part.mega-menu-open{
        background-color: var(--wp--preset--color--base);
        transition: background-color 0.2s ease-in-out;
    }
}