body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

strong, b{
    font-weight: 500;
}

ol, ul{
    padding-left: 24px;
}
.no-link-text-decoration a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
:where(.has-meta-data-labels-font-size){
    font-feature-settings: "cpsp" on;
    font-weight: 500;
    letter-spacing: 0.715px;
    text-transform: uppercase;
}
:where(.has-x-large-font-size){
    line-height: 1.4;
}