.font-meta-data-labels{
    color: var(--wp--preset--color--foreground-70);
    font-feature-settings: 'cpsp' on;
    font-size: 11px;
    font-weight: 500;
    line-height: 100%; /* 11px */
    letter-spacing: 0.715px;
    text-transform: uppercase;
}

$desktop-navigation-breakpoint: 1370px;
$mobilenavigation-breakpoint: 1369px;
$single-column-breakpoint: 781px;
$multi-column-breakpoint: 782px;
$desktop-navigation-breakpoint-height: 1135px;
$mobilenavigation-breakpoint-height: 1134px;