@media (min-width: 782px) {
    .wp-block-columns.is-style-vertical-divider > .wp-block-column:not(:first-child) {
        border-left: 1px solid var(--wp--custom--color--cream-4-50);
        padding-left: 30px;
    }
    .sticky-scroll{
        //max-height: calc( 100vh - var(--wp-admin--admin-bar--position-offset) );
        overflow: clip auto;
    }
}
.wp-block-columns.is-style-bottom-align-last-item{
    .wp-block-column{
        display: flex;
        flex-direction: column;
        > *:last-child{
            margin-top: auto;
        }
    }
}