ul.wp-block-list.is-style-checkmark{
    list-style: none;
    padding-left: 0;
    li{
        padding-left: 40px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.9988 1.7041C7.65581 1.7041 1.70312 7.65678 1.70312 14.9998C1.70312 22.3427 7.6558 28.2954 14.9988 28.2954C22.3417 28.2954 28.2945 22.3427 28.2945 14.9998C28.2945 7.65678 22.3417 1.7041 14.9988 1.7041ZM3.70312 14.9998C3.70312 8.76135 8.76038 3.7041 14.9988 3.7041C21.2372 3.7041 26.2945 8.76135 26.2945 14.9998C26.2945 21.2381 21.2372 26.2954 14.9988 26.2954C8.76038 26.2954 3.70312 21.2381 3.70312 14.9998ZM20.3168 11.0755C20.6347 10.6238 20.5262 10 20.0745 9.6822C19.6229 9.36436 18.9991 9.47285 18.6812 9.92451L13.0385 17.9431L10.7126 15.5741C10.3257 15.18 9.69252 15.1742 9.29843 15.5612C8.90434 15.9481 8.89854 16.5812 9.28547 16.9753L12.4521 20.2006C12.6601 20.4124 12.9513 20.5209 13.2471 20.4967C13.5429 20.4725 13.8127 20.3182 13.9835 20.0755L20.3168 11.0755Z' fill='%23DC4327'/%3E%3C/svg%3E");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: left center;
        &:not(:first-child){
            margin-block-start: 10px;
        }
        min-height: 30px;
    }
}