.wp-block-search__button-inside .wp-block-search__inside-wrapper{
    border: 1px solid var(--wp--preset--color--foreground-50);
    border-radius: 100px;
    font-size: var(--wp--preset--font-size--small);
    padding: 14px 20px;
    input.wp-block-search__input{
        background-color: transparent;
        padding: 0;
        font-size: var(--wp--preset--font-size--small);
    }
    button.wp-block-search__button{
        background-color: transparent;
        color: var(--wp--preset--color--cream-4);
        transform: rotateY(180deg);
        padding: 2px calc(1.333em + 2px) 0 2px;
        margin: 0;
    }
}
.wp-block-post-author .wp-block-post-author__content{
    p.wp-block-post-author__byline,
    p.wp-block-post-author__name{
        display: inline;
        @extend .font-meta-data-labels;
        white-space: nowrap;
        br{
            display: none;
        }
    }
    p.wp-block-post-author__byline:after{
        content: "\00a0";
    }
}
.wp-block-post-date{
    @extend .font-meta-data-labels;
    a{
        color: var(--wp--preset--color--foreground-70);
        text-decoration: none;
    }
}
.ghub-query-load-more{
    justify-content: center;
    a{
        color: var(--wp--preset--color--syncro-black);
        padding: 20px 24px;
        line-height: 1;
        font-weight: 500;
        &:hover{
            background-color: var(--wp--preset--color--cream-3) !important;
            text-decoration: underline;
        }
        @media (max-width: 781px){
            width: 100%;
            text-align: center;
        }
    }
}