<!-- wp:template-part {"slug":"header","tagName":"header","className":"desktop-header-template-part"} /-->

<!-- wp:group {"metadata":{"name":"Archive Hero"},"className":"archive-hero","layout":{"type":"constrained"}} -->
<div class="wp-block-group archive-hero"><!-- wp:heading {"level":6,"style":{"elements":{"link":{"color":{"text":"var:preset|color|cream-4"}}}},"textColor":"cream-4"} -->
<h6 class="wp-block-heading has-cream-4-color has-text-color has-link-color" id="h-integrations">Integrations</h6>
<!-- /wp:heading -->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading" id="h-partner-integrations-to-help-you-boost-efficiency-and-revenues">Partner integrations to help you boost efficiency and revenues</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Plug into more than 50 business tools to help you manage your workload more efficiently and effectively. Connect Quickbooks to your invoicing or migrate customers, contacts, and tickets from Atera or other platforms. Or link to Cyberfish to protect your clients from phishing attacks. Make Syncro your IT hub, and reap the benefits of a single, unified platform to manage all of your operations.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":4,"query":{"perPage":12,"pages":0,"offset":0,"postType":"integrations","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"tagName":"main","ghubQueryId":"6","layout":{"contentSize":null,"type":"constrained"}} -->
<main class="wp-block-query"><!-- wp:columns {"className":"is-style-default"} -->
<div class="wp-block-columns is-style-default"><!-- wp:column {"width":"400px"} -->
<div class="wp-block-column" style="flex-basis:400px"><!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"className":"ghub-query-search"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--40)"><!-- wp:details {"className":"query-taxonomy-accordion"} -->
<details class="wp-block-details query-taxonomy-accordion"><summary>Filter by Integration Type</summary><!-- wp:ghub/query-taxonomy {"showAll":false,"taxonomySlug":"integration_types","layout":"checkbox","orientation":"column","style":{"spacing":{"margin":{"top":"var:preset|spacing|40"}}}} -->
<div class="wp-block-ghub-query-taxonomy gutenberghub-query-taxonomy has-ghub-layout justify-content-left flex-direction-column" style="margin-top:var(--wp--preset--spacing--40);--ghub-qbt-button-border-top:  ;--ghub-qbt-button-border-right:  ;--ghub-qbt-button-border-bottom:  ;--ghub-qbt-button-border-left:  ">%1$s</div>
<!-- /wp:ghub/query-taxonomy --></details>
<!-- /wp:details --></div>
<!-- /wp:group -->

<!-- wp:block {"ref":28047} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":""} -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-template {"className":"is-style-integration-card","style":{"elements":{"link":{"color":{"text":"var:preset|color|syncro-black"}}}},"textColor":"syncro-black","layout":{"type":"default"}} -->
<!-- wp:syncro-blocks/integration-card {"name":"syncro-blocks/integration-card","mode":"preview"} -->
<!-- wp:post-terms {"term":"integration_types","style":{"elements":{"link":{"color":{"text":"var:preset|color|cream-4"}}}},"textColor":"cream-4","fontSize":"meta-data-labels"} /-->
<!-- /wp:syncro-blocks/integration-card -->
<!-- /wp:post-template --></div>
<!-- /wp:group -->

<!-- wp:ghub/query-load-more {"backgroundColor":"#eee9e3","loadingText":" Loading...","style":{"elements":{"link":{"color":{"text":"var:preset|color|syncro-black"}}},"border":{"radius":"200px"}},"fontSize":"x-small"} -->
<div class="ghub-query-load-more justify-content-undefined has-eee-9-e-3-background-color has-background has-link-color has-x-small-font-size"><a style="background-color:#eee9e3;border-radius:200px" class="ghub_query_load_more_link wp-element-button has-x-small-font-size undefined">Load More</a></div>
<!-- /wp:ghub/query-load-more -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p>No Results</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->

<!-- wp:block {"ref":28048} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:query -->

<!-- wp:block {"ref":28050} /-->

<!-- wp:block {"ref":28052} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->