.wp-block-syncro-featured-resources{
    grid-template-columns: 1fr 400px;
    margin-block-start: 0px;
}
@media (max-width: 781px){
    .wp-block-syncro-featured-resources{
        display: flex !important;
        flex-direction: column;
    }
}

.wp-block-syncro-featured-resources >.wp-block-group:first-child {
    grid-row: span 3/span 3;
}
.wp-block-syncro-featured-resources .wp-block-group > * {
    margin-block-start: 10px;
}
.wp-block-syncro-featured-resources .wp-block-group .wp-block-post-terms{
    margin-block-start: 30px;
}
.wp-block-syncro-featured-resources .wp-block-group > p.has-meta-data-labels-font-size,
.wp-block-syncro-featured-resources .wp-block-group > .wp-block-buttons {
    margin-block-start: 20px;
}
.wp-block-syncro-featured-resources .wp-block-group > .wp-block-image {
    margin-block-start: 40px;
}
.wp-block-syncro-featured-resources .wp-block-group > .wp-block-image img{
    border-radius: 24px;
}